<!DOCTYPE html>



<div class="titleHome">
    <app-display-title title="Medal per country"> </app-display-title>
</div>
<div class="value-home">
    <app-display-indicator title="Number of JOs"
        [valueindicator]="totalUniqueOlympics.toString()"></app-display-indicator>
    <app-display-indicator title="Number of countries"
        [valueindicator]="totalCountries.toString()"></app-display-indicator>
</div>


<app-all-medals-graph [countriesMedals]="countriesMedals" *ngIf="countriesMedals.length>0"></app-all-medals-graph>