.value-country{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.backButton{
    all: unset;
    background-color: #04838F;
    border-radius: 10px;
    color: white;
    font-weight: normal;
    text-align: center;
    height: 40px;
    width: 20%;
    padding: 5px;
    &:hover{
        cursor: pointer;
    }
}

