<!DOCTYPE html>

<p>country works!{{ countryId }}</p>

<a routerLink="/" name="home"><app-display-title [title]="selectedCountry?.country || 'No country selected'"></app-display-title></a>

<div class="value-country">
  <app-display-indicator
    title="Number of entries"
    [valueindicator]="selectedCountry?.totalEntries?.toString() || '0'">
  </app-display-indicator>

  <app-display-indicator
    title="Total number of medals"
    [valueindicator]="selectedCountry?.totalMedalsCount?.toString() || '0'">
  </app-display-indicator>

  <app-display-indicator
    title="Total number of athletes"
    [valueindicator]="selectedCountry?.totalAthleteCount?.toString() || '0'">
  </app-display-indicator>
</div>
<app-participation-medals-graph [participations]="participations"></app-participation-medals-graph>
